.button2 {
	display: inline;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2rem;
	gap: 1rem;
	padding: 0.5rem 1rem;
	font-size: 1.3rem;
	background-color: #a9a9a9;
	border: none;
	border-radius: 6px;
	cursor: pointer;
    margin-top: 6rem;
	margin-left: 35.3rem;
    width: 9%;
}

.title {
    display: inline-block;
	width: 100%;
	font-family: 'Poppins';
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin-top: -1rem;
	margin-bottom: 1.5rem;
	position: absolute;
	color: var(--black-1);
	@media only screen and (max-width: 768px) {
		font-size: 3rem;
  }
}